<footer>
		<div class="footer-menu">
			<div class="container">
				<div class="row wrap-top-menu">
					<div class="cols col-3 text-center">
						<div class="footer-inline-block">
							<form action="" class="footer-search">
								<input type="text" name="" id="" placeholder="search" class="search-bottom">
								<button type="submit" class="search-bottom-btn"></button>
							</form>
						</div>
					</div>
					<div class="cols col-md-4 col-3 mobile">
						<div class="footer-inline-block">
							<h5 class="uppercase">Our Company<span class="arrow-down"><span></h5>
							<ul class="collapse">
								<li>
									<a href="stopper.html">Home</a>
								</li>
								<li>
									<a href="stopper.html">About GO-ON<sup>&#174;</sup></a>
								</li>
								<li>
									<a href="stopper.html">FAQ's</a>
								</li>
								<li>
									<a href="stopper.html">Testimonials</a>
								</li>
								<li>
									<a href="stopper.html">News</a>
								</li>
								<li>
									<a href="stopper.html">Contact us</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="cols col-md-4 col-3 mobile">
						<div class="footer-inline-block">
							<h5 class="uppercase">Customer Service<span class="arrow-down"><span></h5>
							<ul class="collapse">
								<li>
									<a href="stopper.html">Contact</a>
								</li>
								<li>
									<a href="stopper.html">Delivery and return</a>
								</li>
								<li>
									<a href="stopper.html">Security</a>
								</li>
								<li>
									<a href="stopper.html">Privacy Policy</a>
								</li>
								<li>
									<a href="stopper.html">Terms and conditions</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="cols col-md-4 col-3 mobile">
						<div class="footer-inline-block">
							<h5 class="uppercase">Get Social</h5>
							<ul>
								<li>
									<a href="stopper.html" class="social-facebook">Like us on Facebook</a>
								</li>
								<li>
									<a href="stopper.html" class="social-twitter">Follow us on Twitter</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="cols col-4">
					<div class="xedition">
						<img src="img/xedition.png" alt="xedition">
					</div>
				</div>
				<div class="cols col-8">
					<div class="footer-logo">
						<img src="img/life-must.go-on.png" alt="life must">
					</div>
				</div>
			</div>
		</div>
	</footer>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</body>
</html>