<ul class="block-healthcare">
	<li class="active"><a href="hp_find_doctor.html">Enroll Find a Doctor System</a></li>
	<li><a href="hp_direct_purchase.html">GO-ON® Direct Purchase</a></li>
	<li><a href="whats_is_goon.html">What is GO-ON®</a></li>
	<li><a href="#">Clinical Trials</a></li>
	<li><a href="#">Prescribing Information</a></li>
	<li><a href="#">Educational Material</a></li>
	<li><a href="#">Injection techniques video</a></li>
	<li><a href="#">Key Links (Societies)</a></li>
	<li><a href="#">Request Material</a></li>
	<li><a href="#">Request Visit </a></li>
</ul>