@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

@font-face {
  font-family: 'BrushScriptMT';
  src: url('../fonts/BrushScriptMT.eot?#iefix') format('embedded-opentype'),
     url('../fonts/BrushScriptMT/BrushScriptMT.woff') format('woff'),
     url('../fonts/BrushScriptMT/BrushScriptMT.ttf') format('truetype'),
     url('../fonts/BrushScriptMT/BrushScriptMT.svg#BrushScriptMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrushScriptStd';
  src: url('../fonts/BrushScriptStd/BrushScriptStd.eot?#iefix') format('embedded-opentype'),
     url('../fonts/BrushScriptStd/BrushScriptStd.otf')  format('opentype'),
     url('../fonts/BrushScriptStd/BrushScriptStd.woff') format('woff'),
     url('../fonts/BrushScriptStd/BrushScriptStd.ttf')  format('truetype'),
     url('../fonts/BrushScriptStd/BrushScriptStd.svg#BrushScriptStd') format('svg');
  font-weight: normal;
  font-style: normal;
}